<!--====== SLIDER PART START ======-->

<section id="home" class="slider-area pt-100">
  <div class="container-fluid position-relative" style="background-image: url('assets/logos/Oenoco.jpg'); background-size: cover; background-position-y: 75%; background-position-x: center; min-height: calc(100vh);">
  </div> <!-- container fluid -->
</section>

<!--====== ABOUT START ======-->

<section id="a-propos" class="services-area  pt-150" style="min-height: calc(100vh); background-color: #f3f3f3;">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <h3>OENOCO, QU'EST-CE QUE C'EST ?</h3>
        <div class="pt-25 secondary" style="font-size: 16px;">
          Oenoco accompagne les marques de vin et les viticulteurs
          partout en France pour concevoir des bouteilles durables
          et en leur proposant un service de point de collecte pour
          consigner leurs bouteilles et également de valoriser leur
          patrimoine viticole grâce au système QR code.
        </div>
      </div>
    </div> <!-- row -->
    <div class="card-deck pt-50">
      <div class="card about-card" style="background: transparent !important; border: none !important">
        <img class="card-img-top about-img rounded-circle" src="assets/images/oenoco/bouteille-oenoco-carre.png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text text-center">Des bouteilles durables dont la consigne serait assumé sur la bouteille.</p>
        </div>
      </div>
      <div class="card about-card" style="background: transparent !important; border: none !important">
        <img class="card-img-top about-img rounded-circle" src="assets/images/oenoco/image-chateau-1.png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text text-center">La découverte du vin et du domaine viticole, les visites du domaine.</p>
        </div>
      </div>
      <div class="card about-card" style="background: transparent !important; border: none !important">
        <img class="card-img-top about-img rounded-circle" src="assets/images/oenoco/image-002.png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text text-center">Des recettes pour vous permettre de vous instruire sur les différents cocktails possible avec le vin.</p>
        </div>
      </div>
      <div class="card about-card" style="background: transparent !important; border: none !important">
        <img class="card-img-top about-img rounded-circle" src="assets/images/oenoco/image-003.png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text text-center">Un quizz permettant d’accompagner le consommateur lors de la dégustation de son vin.</p>
        </div>
      </div>

    </div>
  </div> <!-- container -->
</section>

<!--====== ABOUT ENDS ======-->

<!--====== BOTTLE START ======-->

<section id="la-bouteille-consignee" class="discount-product pt-150 h-100" style="min-height: calc(100vh); margin: auto; width: 55%;">
  <div class="container">
    <h3>LA BOUTEILLE CONSIGN&Eacute;E</h3>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="parent">
          <div class="child1">
            <div class="pt-25 secondary" style="font-size: 16px;">
              Nos bouteilles sont spécialement conçu
              pour être consignée et réemployée, elle
              résiste à l’usage du temps grâce à son
              verre dépolie qui permet d’être laver et
              réutiliser.
            </div>
          </div>
          <div class="child1 child2">
            <img src="assets/images/oenoco/image-001.png" class="img-responsive oenoco-inclined" alt="Bouteille Oenoco">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 pt-50 pb-50">
        <h3>POURQUOI RAMENER VOTRE BOUTEILLE DANS UN POINT DE COLLECTE ?</h3>
        <div class="pt-25 secondary" style="font-size: 16px;">
          <ul>
            <li><span class="h4 mb-0 pb-0">Écologique:</span>
              <ul class="">
                <li>Car vous contribuez à la gestion durable de notre économie circulaire.</li>
              </ul>
            </li>
            <li class="pt-30"><span class="h4 mb-0 pb-0">Economique:</span>
              <ul class="">
                <li>Car chaque bouteille rapportée en points de collecte vous rapportera un bon de réduction pour votre prochain achat et ainsi vous fidéliser pour cette action.</li>
              </ul>
            </li>
            <li class="pt-30"><span class="h4 mb-0 pb-0">Communauté:</span>
              <ul class="">
                <li>Faire partie de la grande famille d’Oenoco et devenir acteur du changement.</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> <!-- container -->
</section>
<section id="cycle-de-vie" class="discount-product pt-50 pb-50 h-100" style="min-height: calc(100vh); background-color: #f3f3f3;">
  <div class="container" >
    <div style="margin: auto; width: 66%;">
      <h3 class="pb-25">LE CYCLE DE VIE D’UNE BOUTEILLE OENOCO</h3>
      <img src="assets/images/oenoco/image-006.png" alt="LE CYCLE DE VIE D’UNE BOUTEILLE OENOCO" class="image-responsive" width="100%">
    </div>
  </div>
</section>

<!--====== BOTLLE ENDS ======-->

<!--====== WINE AND DOMAIN START ======-->

<section id="le-vin-et-son-domaine" class="discount-product pt-150 pb-50 h-100" style="min-height: calc(100vh);">
  <div class="container">
    <div style="margin: auto; width: 66%;">
      <div class="row">
        <div class="col-lg-12 col-md-12 pb-100">
          <h3 class="pb-25">LE VIN ET SON DOMAINE</h3>
          <img src="assets/images/oenoco/image-008.png" alt="LE VIN ET SON DOMAINE" width="100%">
          <p class="text-center pt-20">SITE DU DOMAINE / URL</p>
        </div>
      </div>
      <div class="row pb-100">
        <div class="col-lg-5 col-md-12">
          <img src="assets/images/oenoco/image-009.png" alt="LE VIN ET SON DOMAINE" width="100%">
        </div>
        <div class="col-lg-7 col-md-12 pt-20">
          <h4 style="color: #573449;">VISITES :</h4>
          <div>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum
          </div>
        </div>
      </div>
      <div class="row pb-100">
        <div class="col-lg-7 col-md-12 pt-20">
          <h4 style="color: #573449;">PRODUCTION DU VIN :</h4>
          <div>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum
          </div>
        </div>
        <div class="col-lg-5 col-md-12">
          <img src="assets/images/oenoco/image-011.png" alt="LE VIN ET SON DOMAINE" width="100%">
        </div>
      </div>
      <div class="row pb-100">
        <div class="col-lg-5 col-md-12">
          <img src="assets/images/oenoco/image-012.png" alt="LE VIN ET SON DOMAINE" width="100%">
        </div>
        <div class="col-lg-7 col-md-12 pt-20">
          <h4 style="color: #573449;">CUEILLETTE :</h4>
          <div>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum
          </div>
        </div>
      </div>
      <div class="row pb-100">
        <div class="col-lg-7 col-md-12 pt-20">
          <h4 style="color: #573449;">CHAMBRE D’HÔTES :</h4>
          <div>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum
          </div>
        </div>

        <div class="col-lg-5 col-md-12">
          <img src="assets/images/oenoco/image-010.png" alt="LE VIN ET SON DOMAINE" width="100%">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5 col-md-12">
          <img src="assets/images/oenoco/image-007.png" alt="LE VIN ET SON DOMAINE" width="100%">
        </div>
        <div class="col-lg-7 col-md-12 pt-20">
          <h4 style="color: #573449;">NOS AUTRES VINS :</h4>
          <div>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum
          </div>
        </div>
      </div>
    </div>
  </div> <!-- container -->
</section>

<!--====== WINE AND DOMAIN ENDS ======-->

<!--====== COCKTAILS START ======-->

<section id="les-cocktails" class="discount-product pt-150 h-100" style="min-height: calc(100vh);">
  <div class="container">
    <div style="margin: auto; width: 66%;">
      <div class="row">
        <div class="col-lg-9 col-md-12">
          <h3>LES COCKTAILS</h3>
          <div class="pt-50">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </div>
    </div>
    <div class="cocktails-title-container">
        <h3>VIN ROSE</h3>
    </div>
    <div class="row row-cols-1 row-cols-md-3 pt-200">
      <div class="col">
        <div class="card" style="background: transparent !important; border: none !important; max-width: 220px">
          <img class="card-img-top" src="assets/images/oenoco/image-016.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">
              - Lorem ipsum dolor<br/>
              - Lorem ipsum dolor<br/>
              - Lorem ipsum dolor<br/>
              - Lorem ipsum dolor
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="background: transparent !important; border: none !important; max-width: 220px">
          <img class="card-img-top" src="assets/images/oenoco/image-015.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">
              - Lorem ipsum dolor<br/>
              - Lorem ipsum dolor<br/>
              - Lorem ipsum dolor<br/>
              - Lorem ipsum dolor
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="background: transparent !important; border: none !important; max-width: 220px">
          <img class="card-img-top" src="assets/images/oenoco/image-002.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">
              - Lorem ipsum dolor<br/>
              - Lorem ipsum dolor<br/>
              - Lorem ipsum dolor<br/>
              - Lorem ipsum dolor
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="cocktails-title-container">
      <h3>VIN ROUGE</h3>
    </div>
    <div class="row row-cols-1 row-cols-md-3 pt-200">
      <div class="col">
        <div class="card" style="background: transparent !important; border: none !important; max-width: 220px">
          <img class="card-img-top" src="assets/images/oenoco/image-021.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">
              - Lorem ipsum dolor<br/>
              - Lorem ipsum dolor<br/>
              - Lorem ipsum dolor<br/>
              - Lorem ipsum dolor
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="background: transparent !important; border: none !important; max-width: 220px">
          <img class="card-img-top" src="assets/images/oenoco/image-013.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">
              - Lorem ipsum dolor<br/>
              - Lorem ipsum dolor<br/>
              - Lorem ipsum dolor<br/>
              - Lorem ipsum dolor
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="background: transparent !important; border: none !important; max-width: 220px">
          <img class="card-img-top" src="assets/images/oenoco/image-017.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">
              - Lorem ipsum dolor<br/>
              - Lorem ipsum dolor<br/>
              - Lorem ipsum dolor<br/>
              - Lorem ipsum dolor
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="cocktails-title-container">
      <h3>VIN BLANC</h3>
    </div>
    <div class="row row-cols-1 row-cols-md-3 pt-200">
      <div class="col">
        <div class="card" style="background: transparent !important; border: none !important; max-width: 220px">
          <img class="card-img-top" src="assets/images/oenoco/image-018.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">
              - Lorem ipsum dolor<br/>
              - Lorem ipsum dolor<br/>
              - Lorem ipsum dolor<br/>
              - Lorem ipsum dolor
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="background: transparent !important; border: none !important; max-width: 220px">
          <img class="card-img-top" src="assets/images/oenoco/image-019.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">
              - Lorem ipsum dolor<br/>
              - Lorem ipsum dolor<br/>
              - Lorem ipsum dolor<br/>
              - Lorem ipsum dolor
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="background: transparent !important; border: none !important; max-width: 220px">
          <img class="card-img-top" src="assets/images/oenoco/image-020.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">
              - Lorem ipsum dolor<br/>
              - Lorem ipsum dolor<br/>
              - Lorem ipsum dolor<br/>
              - Lorem ipsum dolor
            </p>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- container -->
</section>

<!--====== COCKTAILS ENDS ======-->

<!--====== QUIZZ START ======-->

<section id="le-quizz" class="discount-product pt-150 h-100" style="min-height: calc(100vh);">
  <div class="container">
    <div style="margin: auto; width: 66%;">
      <div class="row">
        <div class="col-lg-9 col-md-12">
          <h3>LE QUIZZ</h3>
          <div class="mt-50">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
          <div class="mt-50 quizz">
            <ul style="list-style-type: disc; color: #0b0b0b; font-size: 28px">
              <li><h4>Lorem ipsum dolor sit amet, consectetur ?</h4></li>
            </ul>
            <a href="#" style="width: 100%" class="mt-50">
              <span class="question true">Lorem ipsum dolor sit amet.</span>
            </a>

            <a href="#" style="width: 100%" class="mt-25">
              <span class="question">Lorem ipsum dolor sit amet.</span>
            </a>

            <a href="#" style="width: 100%" class="mt-25">
              <span class="question">Lorem ipsum dolor sit amet.</span>
            </a>
          </div>

          <div class="mt-50 quizz">
            <ul style="list-style-type: disc; color: #0b0b0b; font-size: 28px">
              <li><h4>Lorem ipsum dolor sit amet, consectetur ?</h4></li>
            </ul>
            <a href="#" style="width: 100%" class="mt-50">
              <span class="question">Lorem ipsum dolor sit amet.</span>
            </a>

            <a href="#" style="width: 100%" class="mt-25">
              <span class="question true">Lorem ipsum dolor sit amet.</span>
            </a>

            <a href="#" style="width: 100%" class="mt-25">
              <span class="question">Lorem ipsum dolor sit amet.</span>
            </a>
          </div>

          <div class="mt-50 mb-50 quizz">
            <ul style="list-style-type: disc; color: #0b0b0b; font-size: 28px">
              <li><h4>Lorem ipsum dolor sit amet, consectetur ?</h4></li>
            </ul>
            <a href="#" style="width: 100%" class="mt-50">
              <span class="question">Lorem ipsum dolor sit amet.</span>
            </a>

            <a href="#" style="width: 100%" class="mt-25">
              <span class="question">Lorem ipsum dolor sit amet.</span>
            </a>

            <a href="#" style="width: 100%" class="mt-25">
              <span class="question false">Lorem ipsum dolor sit amet.</span>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div> <!-- container -->
</section>

<!--====== QUIZZ ENDS ======-->
