<!--====== SLIDER PART START ======-->
    
<section id="home" class="slider-area pt-100">
  <div class="container-fluid position-relative" style="background-image: url('assets/logos/Oenoco.jpg'); background-size: cover; background-position-y: center; background-position-x: center; min-height: calc(100vh);">
  </div> <!-- container fluid -->
</section>

<!--====== ABOUT START ======-->
    
<section id="a-propos" class="discount-product pt-100 h-100 bg-primary" style="min-height: calc(100vh);">
  <div class="container">
      <h1>&Agrave; PROPOS</h1>
  </div> <!-- container -->
</section>

<!--====== ABOUT ENDS ======-->

<!--====== BOTTLE START ======-->
    
<section id="la-bouteille-consignee" class="discount-product pt-100 h-100 bg-success" style="min-height: calc(100vh);">
  <div class="container">
      <h1>LA BOUTEILLE CONSIGN&Eacute;E</h1>
  </div> <!-- container -->
</section>

<!--====== BOTLLE ENDS ======-->

<!--====== WINE AND DOMAIN START ======-->
    
<section id="le-vin-et-son-domaine" class="discount-product pt-100 h-100 bg-warning" style="min-height: calc(100vh);">
  <div class="container">
      <h1>LE VIN ET SON DOMAINE</h1>
  </div> <!-- container -->
</section>

<!--====== WINE AND DOMAIN ENDS ======-->

<!--====== COCKTAILS START ======-->
    
<section id="les-cocktails" class="discount-product pt-100 h-100 bg-danger" style="min-height: calc(100vh);">
  <div class="container">
      <h1>LES COCKTAILS</h1>
  </div> <!-- container -->
</section>

<!--====== COCKTAILS ENDS ======-->

<!--====== COCKTAILS START ======-->
    
<section id="le-quizz" class="discount-product pt-100 h-100 bg-info" style="min-height: calc(100vh);">
  <div class="container">
      <h1>LE QUIZZ</h1>
  </div> <!-- container -->
</section>

<!--====== COCKTAILS ENDS ======-->